@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
:root{
  --color: #663399;
  --bg-color: #c3b1e1;
  --font-family: "Roboto Condensed", sans-serif;
}
.bg-grey-700{
  background-color: #c3bebe;
}

.ai-image-generator {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
  gap: 30px;
}
.image-generator :where(h1){
  font-family: var(--font-family);
  font-size: 2.2rem;
  word-spacing: 4px;
  color: var(--color);
  text-transform: capitalize;
  font-weight: 800;
}
.image-generator .card{
  box-shadow: 1px 0px 4px 1px #c3bebe, inset 1px 1px 13px 1px #c3bebe;

  .card-body h3{
    font-weight: 600;
    font-size: 1.8rem;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--color);
  }

  .card-body h2{
    font-weight: 600;
    font-size: 2.2rem;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--color);
  }
  .card-body button{
    background-color: var(--color);
    border: none;
    padding: 8px 16px;
  }
  .card-body .upload_image_icon{
    position: absolute;
    top: 3.5rem;
    right: 15px;
  }
  .card-body .form-check input{
    border: 2px solid var(--bg-color);
    cursor: pointer;
  }
  .form-check-input:checked{
    background-color: var(--color);
    border-color: var(--color);
  }
  .form-check-input:focus{
    border-color: var(--color);
  }
  .card-body .user-input{
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-family);
    border: 2px solid #8b3dff;
    padding: 10px 20px;
  }
  .card-body .user-input::placeholder{
    color: #817979;
  }
  .card-body .user-input:focus{
    box-shadow: none;
  }
}
/* ImageGenerator.css */
.image-generator .number-images:focus{
  background-color: black !important;
}
.image-generator button{
  transition: all .3s ease-in-out;
}
.image-generator button:hover{
  background-color: black !important;
  border-color: transparent ;
}
.image-generator button:hover i{
  color: white;
}
.input-range {
  /* -webkit-appearance: none; */
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--bg-color);
  cursor: pointer;
}

.input-range::-webkit-slider-thumb:hover {
  background: var(--bg-color);
}

.header {
  font-size: 70px;
  font-weight: 500;
  padding-bottom: 30px;
}

.header span {
  color: #c3b1e1;
  font-weight: 600;
}

.img-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
.image-grid {
span{
  height: fit-content;
    position: relative;
    bottom: 9rem;
    right: 4rem;
}
button{
  background-color: var(--color);
  border: 2px solid #d8d8d8;
  border-radius: 30px 60px 40px 180px;
}
}
.image-grid span button a{
  color: white;
  font-weight: 800;
  font-size: 18px;
  transition: all .3s ease-in-out;
}
.image-grid img {
  /* width: calc(50% - 10px); */
  margin: 5px;
  max-width: 350px;
  height: auto;
}

@media (max-width: 768px) {
  .image-grid img {
    width: calc(100% - 10px);
  }
}

.search-box {
  display: flex;
  width: 100%;
  max-width: 1000px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background: #1f3540;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  padding-left: 35px;
}

.search-input::placeholder {
  color:white;
}

.generate-btn {
  width: 200px;
  height: 100%;
  font-size: 20px;
  border-radius: 50px;
  background: #c3b1e1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: background-color .3s ease-out;
}


.generate-btn:hover{
  background-color: black;
}

input[type="radio"]{
  border: 2px solid #817979;
  cursor: pointer;
}
.loading-bar {
  width: 0px;
  height: 8px;
  background: #c3b1e1;
  transition: width 1s linear;
}

.loading-bar-full {
  width: 100%;
  height: 8px;
  background: #c3b1e1;
  transition: width 1s linear;
}

.loading-text {
  font-size: 18px;
  color: #c3b1e1;
}
.image-generator .progress{
  background: #fff;
}
@media only screen and (max-width: 600px) {
  .ai-image-generator {
    margin-top: 100px;
    margin-bottom: 10px;
  }

  .header {
    font-size: 40px;
    padding-bottom: 20px;
  }

  .search-box {
    width: 90%;
    max-width: none;
  }

  .generate-btn {
    width: 100%;
  }
}

.aspect-ratio-selection {
  display: flex;
  gap: 10px;
}

.aspect-ratio {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #1f3540;
  color: white;
}

.aspect-ratio.selected {
  background-color: #c3b1e1;
}


.image-generator.mt-20.row {
  margin-top: 111px;
}
/* .live-preview .image-grid{
  background: linear-gradient(to right, #561f8d, #000000e9 0%, #663399 50%) ;
  background-blend-mode: multiply;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0px;
} */
.live-preview canvas{
  /* background: url(/public/images/registerbg1.jpg); */
  /* background-size: cover;   */
  /* border: 2px solid black; */
  width: 100% ;
  background-position: bottom;
    height: 350px !important;
    object-fit: none;
    text-align: center;
} 

@media (max-width: 750px){
  .live-preview canvas{
    width: 100%;
      height: 225px !important;
  }
  .image-generator :where(h1){
    font-size: 1.8rem;
  }
}
@media (max-width: 450px){
  .image-generator :where(h1){
    font-size: 1.3rem;
  }
}




/* Landscape frame */
.landscape-frame {
  width: 100%;
  height: auto;
  max-width: 500px; /* Adjust max-width as needed */
  max-height: 300px; /* Adjust max-height as needed */
}

/* Portrait frame */
.portrait-frame {
  width: auto;
  height: 100%;
  max-width: 300px; /* Adjust max-width as needed */
  max-height: 500px; /* Adjust max-height as needed */
}


.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid;
  border-radius: 0px 5px 5px 0px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 12px 30px !important;
  position: absolute;
  right: 1rem;
  top: 16px;
  text-transform: uppercase;
}
.upload_button{
  right: 10px;
  top: 15px;
  transition: transform .3s ease;

}
.upload_button:hover{
  transform: translateY(-5px);
}

@media screen and (max-width: 480px){
  .btn-53 {
    padding: 12px 15px !important;
  }
  .btn-53 .original{
    font-size: 13px;
  }
}
@media screen and (max-width: 350px){
  .card-body .user-input{
    padding-left: 4px !important;
  }
  .btn-53 {
    padding: 12px 0px !important;
  }
  .btn-53 .original{
    font-size: 10px;
  }
  .upload_image_icon{
    position: static !important;
    padding: 0px 8px !important;
  }
}
.btn-53 .original {
  background: var(--color);
  color: white;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}
.btn-53 span:nth-child(5){
margin-left: 5px;
}
.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

