@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
:root{
  --color: #663399;
  --bg-color: #c3b1e1;
}
.header-main .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:var(--color);
    /* height: 80px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
    font-family: "Poppins", sans-serif;
    padding: 20px !important;
  
    .navbar-collapse {
      flex-grow: 0 !important;
    }
    .navbar-nav {
      gap: 0.5rem;
    }
    .nav-item{
      font-family: "Poppins" !important;
      font-weight: 600;
      transition: background .2s ease-in-out;
      background: transparent;
      border-radius: 10px;
    }
  }
  .navbar .mobile-toggler .dropdown-menu{
    width: fit-content !important;

    button{
      font-size: 12px;
    }
  }
  @media (max-width:550px){
    .header-main .navbar{
      padding: 10px 0px !important;
    }
    .header-main .navbar .navbar-nav{
      padding-top: 20px;
      gap: 0rem !important;
    }
  }
  .navbar .mobile-toggler  i, .navbar .mobile-toggler  svg{
    font-size: 18px;
    color: white;
  }
  .header-main .navbar .nav-item:hover{
    background: #c3b1e1;
  }
  .header-main .navbar .navbar-nav .nav-item .nav-link {
    color: #f3f3f3;
    letter-spacing: 0.9px;
    position: relative;
    transition: color .3s ease-in-out;
  }
  .header-main .navbar .nav-item:hover .nav-link{
    color: white;
  }
  .header-main .navbar .navbar-text:hover, .btn.show{
    background: transparent !important;
  }
  .header-main .navbar .navbar-text button svg{
    transition: all .3s ease-in-out;
    font-size: 20px;
    margin-top: 5px;
    padding-right: 5px;
  }
  .header-main .navbar .navbar-text button:hover svg{
    color: var(--bg-color) !important;
    transform: translateY(-10px);
  }
  .header-main .navbar .navbar-text {
    text-decoration: none;
    font-family: "Poppins";
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--bg-color);
  }
  .header-main .navbar .navbar-text:hover, .btn.show {
    background-color: #c3b1e1;
  }
 .header-main .dropdown-menu{
  width: 100% !important;

  button{
    font-weight: 600;
    color: black;
  }
 }
 .header-main .dropdown-menu .dropdown-item{
  padding: 5px;
  background: transparent;
  border-left: 4px solid transparent;
  transition: all .3s ease-in-out;
  width: 90%;
 }
 .header-main .dropdown-menu .dropdown-item:hover{
  border-left-color:#c3b1e1;
  transform: translateX(10px);
 }
 .header-main .login-text{
  border: 2px solid white;
  padding: 5px 15px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 10px;
 }
.navbar-brand{
  padding-top: 0px;
  padding-bottom: 0px;
 }